#flex-parent{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid gold;
  height:900px;
  align-content:flex-start;
  overflow: scroll;
}

#top{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  border: 2px solid gold;
  width:100%;
  text-align: center;
}

#nav-header li{
  list-style: none;
  display: inline;
  font-size: 1em;
  padding:8px;
}

#nav-header{
  width:50%;
  border: 2px solid red
}

#left{
  display: flex;
  margin-top: 10%;
  margin-left: 10%;
  border: 2px solid gold;
  height:500px
}

#right{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items:center;
  width:70%;
  margin-top: 10%;
  margin-left: 10%;
  padding:10px;
  border: 2px solid gold;
}

.about{
  width:40%;
  border: 1px solid red;
  text-align: center;
  height:200px;
}

.footer{
  display:flex;
  width: 100%;
  border: 2px solid gold;
  ddddd
}
