@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

body{
  font-family: 'Rubik', sans-serif;
  color: white;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  /* font-family: 'Roboto', sans-serif; */
  /* background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%); */
}
/* /////styling the parent flex box////// */
#flex-parent{
  display: flex;
  flex-wrap: wrap;
  height:900px;
  align-content:space-between;
  /* overflow: scroll; */
}

/* /////styling the nav///// */
#top{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width:100%;
}
#nav-header ul{
  padding:0;
  margin:0;
  text-align: right;
}

#nav-header li{
  list-style: none;
  display: inline;
  font-size: 1em;
  padding:8px;
}

#nav-header{
  width:90%;
}

.hamburger{
  display:none;
}
.close-hamburger{
  font-size: 30px;
}

.bar{
  display:block;
  width:25px;
  height:3px;
  margin:5px auto;
  background-color: white;
}

.nav{
  text-decoration: none;
  color: white;
}

.nav:hover{
  background-color: rgba(0, 255, 0, .8);
}

/* /////styling the placeholder resume///// */
#resume{
  width:100%;
  text-align: center;
  text-decoration: underline;
}
#middle{
  display: flex;
  width:50%;
  background-color: #D3D3D3;
  border-radius: 7px;
  margin: 0 auto;
  height:50%;
}

/* /////styling social media links///// */
#bottom{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.links{
width:55px;
text-align: center;
border-radius: 50%;
}

ion-icon{
  height:50px;
  width:50px;
}

.blue-logo{
  color:blue;
}

#black-logo{
  color:white;
}
/* ////adjusting for mobile screens///// */
@media (max-width:464px){
  #top{
    justify-content:flex-start;
  }

#nav-header{
  width:100%;
  height:300px;
  display:none;
}

#nav-header li{
  display:block;
  height:50px;
  text-align: center;
  font-size: 1.5em
}

.hamburger{
  display:block;
}
}
