@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:wght@300&display=swap');
body{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
#flex-parent{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid gold;
  height:900px;
  align-content:flex-start;
  overflow: scroll;
}

#top{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  border: 2px solid gold;
  width:100%;
  text-align: center;
}

#nav-header li{
  list-style: none;
  display: inline;
  font-size: 1em;
  padding:8px;
}

#nav-header{
  width:50%;
  border: 2px solid red
}

#resume{
  width:100%;
  text-align: center;
  text-decoration: underline;
  margin-top: 5%;
  border: 2px solid red
}
#middle{
  display: flex;
  width:50%;
  border: 2px solid gold;
  margin: 0 auto;
  margin-top: 10%;
  height:50%
}
