@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
body{
  font-family: 'Rubik', sans-serif;
  color: white;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  /* background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%); */
}

/* ////styling the main flex box////// */
#flex-parent{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  height:900px;
  align-content:space-between;
  justify-content: space-evenly;
}
/* /////styling the nav///// */
#top{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width:100%;
}

#nav-header ul{
  padding:0;
  margin:0;
  text-align: right;
}

#nav-header li{
  list-style: none;
  display: inline;
  font-size: 1em;
  padding:8px;
}

#nav-header{
  width:90%;
}

.hamburger{
  display:none;
}

.close-hamburger{
  font-size: 30px;
}

.bar{
  display:block;
  width:25px;
  height:3px;
  margin:5px auto;
  background-color: white;
}

.nav{
  text-decoration: none;
  color:white;
}

.nav:hover{
  background-color: rgba(0, 255, 0, .8);
  border-radius: 10px;
}

/* ///////styling the greeting and links///// */
#left{
  display: flex;
  flex-wrap:wrap;
  align-content: space-evenly;
  margin-right:10%;
  margin-left: 10%;
  width:45%;
  text-align: center;
}

#greeting{
  width:100%;
  font-size: 1em;
}

#links{
  display: flex;
  width:100%;
  justify-content: space-between;
}

.links{
  width:55px;
}

ion-icon{
  height:50px;
  width:50px;
}

.blue-logo{
  color:blue;
}

#black-logo{
  color:black;
}
/* //////styling the right and photo////// */
#right{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 150px;
  height: 300px;
  border-radius: 50%;
  background-image: url('https://imgur.com/UcE0fiP.jpg');
  background-size: cover;

}

/* /////styling the cat carousel//////// */
#bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width:100%;
  height:200px;
}

.images img{
  display: none;
}

.images img:first-of-type{
  display:block;
}

.carousel-button{
  align-self: center;
  height: 50px;
  width: 50px;
  border:1px solid black;
  border-radius: 50%;
  text-align: center;
  padding-bottom: 5px;
  background-color: black;
}

/* ////adjusting for mobile screen//// */
@media (max-width:464px){

  #top{
    justify-content:flex-start;
  }

  #nav-header{
    width:100%;
    height:300px;
    display: none;
  }

  #nav-header li{
    display:block;
    height:50px;
    text-align: center;
    font-size: 1.5em
  }

  .hamburger{
    display:block;
  }

  #left{
    width:100%;
    height:500px;
  }

  #right{
    width:100%;
  }

  #photo{
    margin:0 auto;
    margin-bottom: 20px;
  }

  #flex-parent{
  height:1100px
  }
}
